#rev-logo {
  margin-top: 10px;
  opacity: 0.8;
}

#cardrow {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 10px;
  margin-bottom: 100px;
}

#linka {
  background-image: url(../images/astronot_copy.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  bottom: 10px;
  height: 600px;
  width: 30%;
  font-family: "Jura", sans-serif;
  font-size: x-large;
  box-shadow: 2px 4px 8px black;
  letter-spacing: 5px;
}

#linkb {
  background-image: url(../images/Prism.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  bottom: 10px;
  height: 600px;
  width: 30%;
  font-family: "Jura", sans-serif;
  font-size: x-large;
  box-shadow: 2px 4px 8px black;
  letter-spacing: 5px;
}

#linkc {
  background-image: url(../images/balducci.PNG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  bottom: 10px;
  height: 600px;
  width: 30%;
  font-family: "Jura", sans-serif;
  font-size: x-large;
  box-shadow: 2px 4px 8px black;
  letter-spacing: 5px;
}

.linkinfo {
  height: 250px;
  width: 100%;
  position: absolute;
  bottom: 0;
  align-content: bottom;
  color: white;
  justify-content: center;
  text-align: center;
  background-color: rgba(59, 59, 59, 0.808);
}

.linkhead {
  margin-bottom: 2px;
  color: white;
  height: 20px;
}
